<<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css" integrity="sha384-n9CRHnuST7JkeuVVUX7Kj8G96IdSXJzQpnwAkLfS5E8K47C02VOn16yXfLqGdf5Q" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.js" integrity="sha384-7zkQWpzuE9SOn9Kax7866mYnTX1WSrRzV7S77f369p++OlBvF3tk9X76904N1q7K" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/contrib/auto-render.min.js" integrity="sha384-43gL5f6L1qi+ZR9OxZ6N7f6GuKUrx1adnVezWpuqOtUDqJN5U6a6whK4E/fePJog" crossorigin="anonymous"
    onload="renderMathInElement(document.body);"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(document.body, {
            delimiters: [
                {left: "$$", right: "$$", display: true},
                {left: "$", right: "$", display: false}
            ]
        });
    });
</script>