{{- $pages := sort .CurrentSection.RegularPages "Weight" "asc" -}}
{{- $currentPage := . -}}
{{- $prevPage := "" -}}
{{- $nextPage := "" -}}
{{- $found := false -}}

{{- /* Manual iteration to find Prev/Next based on sorted list */ -}}
{{- range $index, $page := $pages -}}
  {{- if eq $page $currentPage -}}
    {{- $found = true -}}
    {{- /* Previous in list (index - 1) is "Previous Chapter" */ -}}
    {{- if gt $index 0 -}}
      {{- $prevPage = index $pages (sub $index 1) -}}
    {{- end -}}
    {{- /* Next in list (index + 1) is "Next Chapter" */ -}}
    {{- if lt (add $index 1) (len $pages) -}}
      {{- $nextPage = index $pages (add $index 1) -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- if and (gt (len $pages) 1) $found -}}
<nav class="paginav">
  {{- if eq .Type "novels" }}
      {{- /* Explicit Logic for Novels based on Weight ASC */ -}}
      {{- with $prevPage }}
      <a class="prev" href="{{ .Permalink }}">
        <span class="title">« 上一章</span>
        <br>
        <span>{{- .Title -}}</span>
      </a>
      {{- end }}
      {{- with $nextPage }}
      <a class="next" href="{{ .Permalink }}">
        <span class="title">下一章 »</span>
        <br>
        <span>{{- .Title -}}</span>
      </a>
      {{- end }}
  {{- else }}
      {{- /* Default Logic (PaperMod): Left = Newer, Right = Older */ -}}
      {{- with $pages.Next . }}
      <a class="prev" href="{{ .Permalink }}">
        <span class="title">« {{ i18n "prev_page" }}</span>
        <br>
        <span>{{- .Title -}}</span>
      </a>
      {{- end }}
      {{- with $pages.Prev . }}
      <a class="next" href="{{ .Permalink }}">
        <span class="title">{{ i18n "next_page" }} »</span>
        <br>
        <span>{{- .Title -}}</span>
      </a>
      {{- end }}
  {{- end }}
</nav>
{{- end -}}
